absl-py                       
addict                        
aiofiles                      
aiohttp                       
aiosignal                     
aiosqlite                     
albumentations                
alembic                       
annotated-types               
antlr4-python3-runtime        
anyio                         
appdirs                       
APScheduler                   
argcomplete                   
argon2-cffi                   
argon2-cffi-bindings          
arrow                         
asttokens                     
astunparse                    
async-lru                     
async-timeout                 
attrs                         
autopage                      
Babel                         
backcall                      
backoff                       
backports.cached-property     
backports.functools-lru-cache 
beautifulsoup4                
black                         
bleach                        
blessings                     
blinker                       
bqplot                        
Brotli                        
brotlipy                      
cached-property               
cachetools                    
cdt                           
certifi                       
cffi                          
cfgv                          
cgal                          
chardet                       
charset-normalizer            
                   
click                         
cliff                         
cloudpickle                   
cloup                         
cmaes                         
cmd2                          
codecov                       
coloraide                     
colorama                      
coloredlogs                   
colorlog                      
colour-runner                 
comm                          
commonmark                    
ConfigArgParse                
contextlib2                   
contourpy                     
coverage                      
cryptography                  
cycler                        
Cython                        
cytoolz                       
dask                          
databricks-cli                
debugpy                       
decorator                     
deepdiff                      
defusedxml                    
diff-match-patch              
dill                          
diskcache                     
distlib                       
distro                        
dlib                          
dnspython                     
docformatter                  
docker                        
docker-pycreds                
docopt                        
dominate                      
DracoPy                       
easydict                      
einops                        
email_validator               
embreex                       
entrypoints                   
et-xmlfile                    
evdev                         
exceptiongroup                
executing                     
ezodf                         
face-alignment                
facenet-pytorch               
facexlib                      
fastapi                       
fastapi-sso                   
fastjsonschema                
FastTrackML                   
filelock                      
filterpy                      
Flask                         
Flask-SQLAlchemy              
flatbuffers                   
fonttools                     
# fpdf                          
fqdn                          
freetype-py                   
frozenlist                    
fsspec                        
future                        
fvcore                        
gast                          
gitdb                         
GitPython                     
gmpy2                         
google-ai-generativelanguage  
google-api-core               
google-api-python-client      
google-auth                   
google-auth-httplib2          
google-auth-oauthlib          
google-generativeai           
google-pasta                  
googleapis-common-protos      
GPUtil                        
greenlet                      
grep-ast                      
grpcio                        
grpcio-status                 
gulpio2                       
gunicorn                      
h11                           
h5py                          
httpcore                      
httplib2                      
httpx                         
huggingface-hub               
humanfriendly                 
hydra-colorlog                
hydra-core                    
hydra-optuna-sweeper          
identify                      
idna                          
igraph                        
imagecodecs-lite              
imageio                       
imageio-ffmpeg                
imgaug                        
importlib_metadata            
importlib-resources           
iniconfig                     
iopath                        
ipdb                          
ipycanvas                     
ipydatawidgets                
ipyevents                     
ipykernel                     
ipympl                        
ipython                       
ipython-genutils              
ipyvolume                     
ipyvtklink                    
ipyvue                        
ipyvuetify                    
ipywebrtc                     
ipywidgets                    
isoduration                   
isort                         
itsdangerous                  
jedi                          
Jinja2                        
joblib                        
json5                         
jsonpatch                     
jsonpointer                   
jsonschema                    
jsonschema-specifications     
jupyter                       
jupyter_client                
jupyter-console               
jupyter_core                  
jupyter-events                
jupyter-lsp                   
jupyter_server                
jupyter_server_fileid         
jupyter_server_terminals      
jupyter_server_ydoc           
jupyter-ydoc                  
jupyterlab                    
jupyterlab-pygments           
jupyterlab_server             
jupyterlab-widgets            
k3d                           
kaleido                       
keras                         
Keras-Preprocessing           
kiwisolver                    
kornia                        
lazy_loader                   
libclang                      
lightning                     
lightning-utilities           
litellm                       
littleutils                   
llvmlite                      
lmdb                          
lml                           
locket                        
lpips                         
lxml                          
Mako                          
manifold3d                    
Markdown                      
markdown-it-py                
MarkupSafe                    
matplotlib                    
matplotlib-inline             
mdurl                         
mediapipe                     
mistune                       
mkl-fft                       
mkl-random                    
mkl-service                   
ml-collections                
ml-dtypes                     
mlflow                        
mlxtend                       
mmcv                          
monai                         
mpmath                        
mrcfile                       
msgpack                       
msgspec                       
mtcnn                         
multidict                     
munch                         
mypy-extensions               
namex                         
natsort                       
nbclassic                     
nbclient                      
nbconvert                     
nbformat                      
nest-asyncio                  
networkx                      
nodeenv                       
notebook                      
notebook_shim                 
nox                           
numba                         
numpy                         
oauthlib                      
odfpy                         
olefile                       
omegaconf                     
open3d                        
openai                        
opencv-contrib-python         
opencv-python                 
opencv-python-headless        
openpyxl                      
opt-einsum                    
optree                        
optuna                        
ordered-set                   
orjson                        
overrides                     
packaging                     
pandas                        
pandas-ods-reader             
pandocfilters                 
parso                         
partd                         
pathspec                      
pathtools                     
patsy                         
pbr                           
pexpect                       
pickleshare                   
pillow                        
Pillow-SIMD                   
pip                           
pkgutil_resolve_name          
platformdirs                  
playwright                    
plotly                        
pluggy                        
ply                           
plyfile                       
pooch                         
portalocker                   
pre-commit                    
PrettyPrintTree               
prettytable                   
prometheus-client             
prompt-toolkit                
proto-plus                    
protobuf                      
psutil                        
ptwt                          
ptyprocess                    
pure-eval                     
pyarrow                       
pyasn1                        
pyasn1_modules                
pycparser                     
pydantic                      
pydantic_core                 
pyee                          
pyembree                      
pyexcel                       
pyexcel-io                    
pyexcel-ods                   
pygem                         
pyglet                        
Pygments                      
PyJWT                         
pylogger                      
PyMCubes                      
pymesh                        
pymeshfix                     
pymeshlab                     
pynput                        
PyOpenGL                      
pyOpenSSL                     
pypandoc                      
pyparsing                     
pyperclip                     
pyproject-api                 
PyQt5                         
PyQt5-sip                     
pyrender                      
pyrsistent                    
pysdf                         
PySocks                       
pytest                        
pytest-cov                    
python-dateutil               
python-dotenv                 
python-json-logger            
python-multipart              
python-xlib                   
python-xz                     
pythreejs                     
pytorch-lightning                             
pytz                          
pyu2f                         
pyvista                       
PyWavelets                    
PyYAML                        
pyzmq                         
qtconsole                     
QtPy                          
qudida                        
querystring-parser            
redis                         
referencing                   
regex                         
reportlab                     
requests                      
requests-oauthlib             
resnet                        
rfc3339-validator             
rfc3986-validator             
rich                          
rootpath                      
rootutils                     
rpds-py                       
rq                            
rsa                           
Rtree                         
scikit-image                  
scikit-learn                  
scikit-posthocs               
scikit-video                  
scipy                         
scooby                        
seaborn                       
Send2Trash                    
sentry-sdk                    
setproctitle                  
setuptools                    
sh                            
shap                          
shapely                       
simplejpeg                    
sip                           
six                           
skrebate                      
slicer                        
smmap                         
sniffio                       
sorcery                       
sounddevice                   
soundfile                     
soupsieve                     
SQLAlchemy                    
sqlparse                      
stack-data                    
starlette                     
statsmodels                   
stevedore                     
sympy                         
tabulate                      
tenacity                      
tensorboard                   
tensorboard-data-server       
tensorboard-plugin-wit        
tensorboardX                  
tensorflow                    
tensorflow-estimator          
tensorflow-io-gcs-filesystem  
termcolor                     
terminado                     
texttable                     
threadpoolctl                 
tifffile                      
tiktoken                      
tinycss2                      
tokenize-rt                   
tokenizers                    
toml                          
tomli                         
toolz                                                                     
torchinfo                     
torchmetrics                                  
torchsummary                  
torchvideo2                   
torchvision                   
tornado                       
tox                           
tqdm                          
traitlets                     
traittypes                    
trame                         
trame-client                  
trame-server                  
trame-vtk                     
trame-vuetify                 
tree-sitter                   
tree-sitter-languages         
trimesh                       
triton                        
typing_extensions             
typing-utils                  
tzdata                        
tzlocal                       
u-msgpack-python              
untokenize                    
uri-template                  
uritemplate                   
urllib3                       
uvicorn                       
vedo                          
virtualenv                    
visdom                        
vtk                           
wandb                         
wcwidth                       
webcolors                     
webencodings                  
websocket-client              
Werkzeug                      
wheel                         
widgetsnbextension            
wrapt                         
wslink                        
xlrd                          
XlsxWriter                    
y-py                          
yacs                          
yapf                          
yarl                          
ypy-websocket                 
zipp                          
